/**
 * Posts Locator search form stylesheet "Horizontal-gray"
 */

/*Zebra Updates*/
div.gmw-form-wrapper .address-locator-wrapper {
    width: 48% !important;
}
div.gmw-form-wrapper .gmw-address-field-wrapper {
    position: relative;
    width: 90% !important;
    display: inline-block;    
}
.gmw-distance-select {width: 6em !important;}
.gmw-locator-btn-wrapper {
    display: inline;
    position: relative;
}
div.gmw-pt-horizontal-gray-form-wrapper #product_cat-tax-wrapper {
    position: relative;
    width: 48% !important;
    display: inline-block;
}
.gmw-orderby-dropdown {
    width: 43.25% !important;
}
.gmw-distance-select {
    width: 6em !important; 
}
/*********************** Size: X-LARGE **********************************/
@media screen and (max-width: 1300px) and (min-width: 1100px) {
   
div.gmw-form-wrapper .gmw-address-field-wrapper {
        position: relative;
        width: 85% !important;
        display: inline-block;
    }
    .gmw-orderby-dropdown {
        width: 43.25% !important;
    }
    #product_tag-tax-wrapper ul {
        margin: .25em 0em .5em;
    }
}
/*********************** Size: LARGE **********************************/
@media screen and (max-width:1099px) and (min-width:980px) {
    
    div.gmw-pt-horizontal-gray-form-wrapper {
        width: 100% !important;        
    }
    div.gmw-pt-horizontal-gray-form-wrapper select.gmw-orderby-dropdown {
        width: 37% !important;
    }
    #product_tag-tax-wrapper ul {
        margin: .25em 0em .5em;
    }
}
/*********************** Size: MEDIUM **********************************/
@media screen and (max-width:1099px) and (min-width:980px) {
    div.gmw-form-wrapper .gmw-address-field-wrapper {
        width: 85% !important;
    }
    #product_tag-tax-wrapper ul {
        margin: .25em 0em .5em;
    }
}
/*********************** Size: TABLET **********************************/
@media screen and (max-width:979px) and (min-width:768px) {
    div.gmw-form-wrapper .gmw-address-field-wrapper {
        width: 85% !important;
    }
    #product_tag-tax-wrapper ul {
        margin: .25em 0em .5em;
    }
}
/*********************** Size: MINI TABLET **********************************/
@media screen and (max-width:767px) and (min-width:481px) {
    div.gmw-form-wrapper .gmw-address-field-wrapper {
        width: 80% !important;
    }
    #product_tag-tax-wrapper ul {
        margin: .25em 0em .5em;
    }
}
/*********************** Size: LARGE PHONE **********************************/
@media screen and (max-width:480px) and (min-width:351px) {
    div.gmw-pt-horizontal-gray-form-wrapper #product_cat-tax-wrapper {
        position: relative;
        width: 100% !important;
        display: inline-block;
}
    div.gmw-form-wrapper .address-locator-wrapper {
        width: 100% !important;
        height: 1.75em;
    }
    div.gmw-form-wrapper .gmw-address-field-wrapper {
        width: 100% !important;
    }
    #product_tag-tax-wrapper ul {
        margin: .25em 0em .5em;
    }
    .gmw-distance-select {
        width: 6em !important;
        margin: -10px 2.5% 0 2.5% !important;
    }
    div.gmw-form-wrapper .gmw-address-field-wrapper {
        width: 100% !important;
    }
    .gmw-locator-btn-wrapper {
        display: inline-block;
        position: relative;        
        float: right;
        left: -0.25em;
        bottom: 2.25em;
    }

}
/*********************** Size: MID PHONE **********************************/
@media screen and (max-width:350px) and (min-width:251px) {
   div.gmw-form-wrapper .gmw-address-field-wrapper {
        width: 100% !important;
    }
    div.gmw-form-wrapper .address-locator-wrapper {
        width: 100% !important;
        height: 2.75em;
    }
    .gmw-checkbox-level-top ul, .gmw-checkbox-level-top ol {
        padding: 0;
        margin: 0 0 1.5em .5em;
    }
    #product_tag-tax-wrapper ul {
        margin: 0em 0em 0em 0em;
    }
     #product_cat-tax {
        margin-top: 5px !important;
        margin-bottom: 10px !important;
    }
    .gmw-locator-btn-wrapper {
        left: -0.25em;
        float: right;
        bottom: 2.25em;
    }
    div.gmw-pt-horizontal-gray-form-wrapper #product_cat-tax-wrapper {
        position: relative;
        width: 100% !important;
        display: inline-block;
        margin-top: -2em !important;
    }
    .gmw-distance-select {
        width: 50% !important;
        margin: 0px !important;
    }   
    #gmw-submit-2 {
        margin: 0 8%;   
    }   
}
/*********************** Size: SMALL PHONE **********************************/
@media screen and (max-width:250px) {
    #product_tag-tax-wrapper ul { margin: 0em;}

    div.gmw-form-wrapper .gmw-address-field-wrapper {
        width: 100% !important;
    }
    div.gmw-form-wrapper .address-locator-wrapper {
        width: 100% !important;
        height: 2.75em;
    }
    .gmw-locator-btn-wrapper {
        left: -0.25em;
        float: right;
        bottom: 2.25em;
    }
    div.gmw-pt-horizontal-gray-form-wrapper #product_cat-tax-wrapper {
        position: relative;
        width: 100% !important;
        display: inline-block;
        margin-top: -2em !important;
    }
    .gmw-distance-select {
        width: 50% !important;
        margin: 0px !important;
    }   
    #gmw-submit-2 {
        margin: 0 8%;   
    }   
}
/*Original CSS*/
div.gmw-pt-horizontal-gray-form-wrapper {
 	background: #f8f8f8;
	padding:10px 10px 0;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	margin-bottom: 1px
}

div.gmw-pt-horizontal-gray-form-wrapper label {
	text-transform:capitalize;
	color:#555;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-single-taxonomy-wrapper,
div.gmw-pt-horizontal-gray-form-wrapper .address-locator-wrapper,
div.gmw-pt-horizontal-gray-form-wrapper .post-types-wrapper,
div.gmw-pt-horizontal-gray-form-wrapper .gmw-submit-wrapper,
div.gmw-pt-horizontal-gray-form-wrapper .gmw-custom-field-wrapper,
div.gmw-pt-horizontal-gray-form-wrapper .gmw-keywords-field,
div.gmw-pt-horizontal-gray-form-wrapper .gmw-distance-select,
div.gmw-pt-horizontal-gray-form-wrapper .gmw-posts-dropdown {
	display:inline-block;
	margin:0 0px 0px 0px;
}

div.gmw-pt-horizontal-gray-form-wrapper input[type="text"], 
div.gmw-pt-horizontal-gray-form-wrapper select {
    -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
}

div.gmw-pt-horizontal-gray-form-wrapper input[type="text"] {
    padding:6px 25px 7px 10px;	
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: inherit;
	height: 30px;
	font-size:12px;
	color:#666;
	width:100%;
	margin:0px;
} 
 
div.gmw-pt-horizontal-gray-form-wrapper select {
	border: 1px solid #ccc;
	height:28px;
	font-size: 12px;
	color:#555;
	padding: 4px;
    width: 100%;
    margin-right: 2em !important;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-dropdown-taxonomy-wrapper label, 
div.gmw-pt-horizontal-gray-form-wrapper .gmw-checkbox-taxonomy-wrapper span:first-child,
div.gmw-pt-horizontal-gray-form-wrapper .gmw-custom-field-wrapper label,
div.gmw-pt-horizontal-gray-form-wrapper .gmw-saf-wrapper label,
div.gmw-pt-horizontal-gray-form-wrapper .gmw-address-field-wrapper label     
    padding: 5px;
	background-color: #eee;
	font-size: 12px;
	text-align:center;
	border:1px solid #ddd;
	width:100%;
	color:#626332;
	margin-right:3px;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-single-taxonomy-wrapper label {
	display:none;
}

div.gmw-pt-horizontal-gray-form-wrapper  .gmw-checkbox-taxonomy-wrapper label {
	display:inline-block;
}

div.gmw-pt-horizontal-gray-form-wrapper .address-locator-wrapper {
	position:relative;   
    display: inline-block;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-no-address-error {
	border: 1px solid rgb(252, 165, 165) !important;
}

div.gmw-pt-horizontal-gray-form-wrapper .locator-holder {
	padding:1px 0;
	position: absolute;
	right:7px;
	height: 25px;
	width:25px;
	top:0px
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-locator-btn-wrapper {
	cursor: pointer;
	color:#375348;
	padding:2px
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-locator-btn-within-wrapper {
	cursor: pointer;
	padding:3px 2px;
	position: absolute;
	right:0px;
	height: 25px;
	width:25px;
	top:0px
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-locator-btn-wrapper .gmw-locator-btn-within::before {
	content: "\f230" !important;
	color: rgb(179, 223, 193) !important;
	font-size:26px !important;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-locator-btn-wrapper img {
	-moz-box-shadow:    none;
  	-webkit-box-shadow: none;
	box-shadow: none;
	max-height: 20px;
	margin-left: 5px;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-locator-btn-wrapper img.gmw-locator-btn-loader {
	max-height: 17px;
	margin-left: 3px;
	padding-top: 5px;
	position: absolute;
	top:0;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-submit-button {
	padding: 3px 5px;
	background-color: #ABF1D4;
	border:1px solid #9BDFC3;
	text-align:center;
	cursor: pointer;
	display: inline-block;
	color:#375348;
	-webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    font-size:12px;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-submit-button:hover {
	background-color:#72D9AE;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-locator-btn-wrapper .gmw-locator-submit {
	display: inline;
}

/* premium features */

div.gmw-pt-horizontal-gray-form-wrapper .gmw-radius-slider-wrapper {
    text-align:center;
    display:inline-block;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-radius-slider-wrapper input {
    max-width:60px;
    font-size:14px;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-radius-slider-wrapper .gmw-slider-range {
	height: 1.0em;
	-moz-border-radius: 0px/*{cornerRadius}*/;
	-webkit-border-radius: 0px/*{cornerRadius}*/;
	border-radius: 0px/*{cornerRadius}*/;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-radius-slider-wrapper .gmw-slider-range a {
	height:1.3em;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-checkbox-taxonomy-wrapper {
	Vertical-align:top;
	clear:both;
	display: block
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-checkbox-taxonomy-wrapper span {
	display:block
}

div.gmw-pt-horizontal-gray-form-wrapper input.gmw-single-checkbox {
	margin-right: 5px;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-checkbox-taxonomy-wrapper label {
	margin:5px 5px 5px 1px;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-checkbox-taxonomy-wrapper span.label {
	font-weight:bold;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-checkbox-taxonomy-wrapper img.gmw-checkbox-cat-icons {
	width:22px;
	height: auto;
	border-radius: 5px;
	box-shadow:none;
	margin-right:4px;
	border:1px solid #bbb;
	padding:1px;
	background: #f9f9f9;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-checkbox-taxonomy-wrapper span.cb-title {
	display:inline-block;
	vertical-align: top;
}

div.gmw-pt-horizontal-gray-form-wrapper .gmw-checkbox-taxonomy-wrapper .category-icon-checked {
	border:1px solid #86c1a9 !important;
	background: #fff !important;
}

/* widget */

.widget_gmw_search_form_widget div.gmw-pt-horizontal-gray-form-wrapper .gmw-single-taxonomy-wrapper,
.widget_gmw_search_form_widget div.gmw-pt-horizontal-gray-form-wrapper .address-locator-wrapper,
.widget_gmw_search_form_widget div.gmw-pt-horizontal-gray-form-wrapper .post-types-wrapper,
.widget_gmw_search_form_widget div.gmw-pt-horizontal-gray-form-wrapper .gmw-submit-wrapper,
.widget_gmw_search_form_widget div.gmw-pt-horizontal-gray-form-wrapper .gmw-custom-field-wrapper,
.widget_gmw_search_form_widget div.gmw-pt-horizontal-gray-form-wrapper .gmw-keywords-field,
.widget_gmw_search_form_widget div.gmw-pt-horizontal-gray-form-wrapper select {
	display:block;
	margin:0 0px 10px 0px;
}

.widget_gmw_search_form_widget div.gmw-pt-horizontal-gray-form-wrapper {
 	background: none;
	padding:0px;
	border:0;
}

.widget_gmw_search_form_widget div.gmw-pt-horizontal-gray-form-wrapper input[type="text"], 
.widget_gmw_search_form_widget div.gmw-pt-horizontal-gray-form-wrapper select,
.widget_gmw_search_form_widget div.gmw-pt-horizontal-gray-form-wrapper [type="submit"] {
	width:100%;
}

.widget_gmw_search_form_widget div.gmw-pt-horizontal-gray-form-wrapper .gmw-submit-button {
	width:100%;
	padding:10px 0px;
}